<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Memory Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to Memory Game</h1>
    <button id="play-button">Play</button>
    <button id="settings-button">Settings</button>

    <div id="settings-menu" style="display: none;">
        <h2>Settings</h2>
        <button id="single-player-button">Single Player</button>
        <button id="multiplayer-button">Multiplayer</button>
    </div>

    <script src="{{ url_for('static', filename='js/indexscripts.js') }}"></script>
</body>
</html>
